/* Gutenberg defaults
   ========================================================================== */

// Maximum width of the article (Mobile)
article,
body > footer {
  width: 80%;
  margin: 0 auto;
}

// Grid button
.toggleWrapper {
  @if $edit-mode == true {
    display: block;
  } @else if $edit-mode == false {
    display: none;
  }
  position: fixed;
  top: #{$leading + 'px'};
  right: #{$leading + 'px'};
  background-color: #231F20;
  border-radius: 25px;
  padding: 0 10px 0 20px;
  height: 32px;
}

.btnToggleGrid {
  background: url('../../assets/images/grid-icons.png') top right no-repeat;
  background-size: 32px;
  display: block;
  font-size: 14px;
  text-decoration: none;
  padding-right: 35px;
  height: 32px;
  line-height: 34px;
  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;

  &:hover {
    color: #fff;
  }

  &:active {
    color: #f00;
  }
}

.double-grid {
  background-position-y: -32px;
}

.grid-off {
  background-position-y: -64px;
}

// Text Alignment
.alignLeft {
  text-align: left;
}

.alignCenter {
  text-align: center;
}

.alignRight {
  text-align: right;
}

// Fix letter spacing for uppercase
.uppercase {
  letter-spacing: .1em;
  text-transform: uppercase;
}

/* Put your styles below this line
   ========================================================================== */

* { box-sizing: border-box;}
.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 1600px;
}

.content {
  max-width: 780px;
}

.header {
  background-color: rgba(0,0,0,0.98);
  background-image: url('/img/inflicted.png');
  color: #fff;
  padding: .5rem 0 0 0;
  margin: 0;
}

.main {
  border-bottom: 1px solid #222;
  background-color: rgba(255,255,255,.6);
  transition: all;
  transition-duration: .5s;
}

.main .nav {
  list-style: none;
  margin: 0 auto;
  width: 90%;
  max-width: 1600px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.main .nav a:link,
.main .nav a:visited {
  font-weight: bold;
  color: #000;
}

.nav a:hover:link,
.nav a:hover:visited {
  background-color: rgba(255,255,255,.6);
}

.subnav {
  list-style: none;
  margin: 0 auto;
  width: 90%;
  max-width: 1600px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.subnav a:link,
.subnav a:visited {
  text-decoration: none;
  display: block;
  padding: .5rem;
  margin: 0 0 5px 0;
  background-color: #ccc;
  color: #000;
  border-radius: 3px;
}

.subnav a:hover,
.subnav a.selected:link,
.subnav a.selected:visited {
  background-color: #333;
  color: #fff;
}

@media screen and (min-width: 640px) {
  .main .nav {
    flex-direction: row;
    justify-content: space-between;
  }
}

.main .nav a:link,
.main .nav a:visited {
  text-decoration: none;
  display: block;
  padding: .5rem 2rem;
  margin: 0;
}

.subnav {
  flex-direction: row;
}

.subnav li {
  margin-right: 10px;
}

h1 small {
  display: block;
  padding: 0.5rem 0 0 0;
  color: #666;
  line-height: 1.4;
}

.box {
  border: 1px solid #999;
  border-radius: 3px;
  padding: 1rem;
}

.box *:last-child {
  margin-bottom: 0;
}

.flag-new::before {
  content: "New!";
  background-color:#087f23;
  position: absolute;
  top: -.8rem;
  left: -.8rem;
  padding: .3rem .5rem;
  display: inline-block;
  color: #fff;
  font-weight: both;
  transform: rotate(-20deg)
}

.panel-box {
    background-image: url(/img/tiny_grid.png);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 1rem;
    position: relative;
}

.panel-primary {
    background-image: url(/img/inflicted.png);
    color: #fff;
  }

.panel-box > a:link, .panel-box > a:visited {
  text-decoration: none;
  color: #000;
}

.panel-box ul {
  margin: 1rem 0 ;
  padding: 0 0 0 1.2em;
}

.home-layout h1, .home-layout h2, .panel-box h3, .example-layout h3 {
  margin: 0;
}

.homepage-bar {
  background-color:#5e35b1;
  color: #fff;
  padding: 1rem;
  position: relative;
}

.homepage-bar a {
  text-decoration: none;
}

.learn-section h2 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 1rem;
}

.learn-section h2::before {
  content: "";
  border-bottom: 1px solid #ddd;
  align-self: center;
}

.learn-section h2::after {
  content: "";
  border-bottom: 1px solid #ddd;
  align-self: center;
}

@media screen and (min-width: 640px) {

  .learn-section {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: repeat(3, minmax(0,1fr));
  }

  .learn-section h2 {
    grid-column: 1 / -1;
  }

  .home-layout {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 2fr 2fr 1fr 1fr;
  }

.homepage-bar {
  grid-column: 1 / -1;
}

  .home-layout .panel-box  {
    grid-column: auto / span 2;
  }

   .home-layout .panel-c, .home-layout .panel-d {
    grid-column: auto / span 3;
  }

  .home-layout .panel-g {
    grid-column: auto / span 1;
  }

  .home-layout .panel-primary {
    grid-column: 1 / 4;
  }

  .panel-primary a:link,
  .panel-primary a:visited,
  .homepage-bar a:link,
  .homepage-bar a:visited {
    color: #fff;
  }

}

.examples-listing ul {
  list-style: none;
  padding: 0;
  margin:0;
}

.examples-listing li {
  @include margin-top(1);
}

.examples-detail-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
  grid-gap: 2rem;
}

.example img {
  border: 1px solid #ccc;
  padding: 10px;
  max-width: 350px;
}

@supports(display: grid) {
  .example {
    display: flex;
    flex-direction: column;
  }

  .example img {
    width: 100%;
    height: 200px;
    object-fit: contain;
  }
}

.example h3 {
  margin: 0;
}

.example header {
  order: 2;
}

.example .description {
  order: 3;
}

.example figure {
  margin: 0;
  order: 1;
}

.example footer {
  order: 4;
  margin-top: auto;
}

.example-layout {
  background-image: url(/img/tiny_grid.png);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 1rem;
}



@media screen and (min-width: 640px) {
  .example-layout .body {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 300px 1fr;
    background-color: #fff;
  border-radius: 3px;
  padding: .5rem;
  }

  
}

code {
  display: inline;
  padding: 0;
}


h1 a:link, h1 a:visited, h1 a:hover, h1 a:visited:hover, h1 a:visited {
  color: #fff;
  text-decoration: none;
}

.card-listing {
  list-style: none;
  margin: 0 0 1em 0;
  padding: 0;
}

.card-listing li {
  background-image: url(/img/tiny_grid.png);
  border: 1px solid #999;
  border-radius: 3px;
  margin-bottom: 2rem;
}

.card-listing h3 {
  background-color: #fff;
  color: #fff;
  margin: 0;
  padding: 1rem 20px ;
}

.card-listing li:hover h3 {
  transition: all;
  transition-duration: 1s;
}

.card-listing .type-article h3 {
  background-color: rgba(50,205,235,.3);
}

.card-listing li h3:before {
  content: "Article";
  font-size: 0.7rem;
  font-weight: normal;
  background-color: #000;
  border-radius: 10px;
  float: right;
  padding: 0 5px;
}

.card-listing .type-article:hover h3 {
  background-color: rgba(50,205,235,.8);
}

.card-listing .type-video h3 {
  background-color: rgba(255,108,129,.3);
}

.card-listing .type-video:hover h3 {
  background-color: rgba(255,108,129,.8);
}

.card-listing .type-video h3:before {
  content: "Video";
}

.card-listing .type-spec h3 {
  background-color: rgba(119,213,129,.3);
}

.card-listing .type-spec:hover h3 {
  background-color: rgba(119,213,129,.8);
}

.card-listing .type-spec h3:before {
  content: "Spec";
}

.card-listing .type-browsers h3 {
  background-color: rgba(253,137,78,.3);
}

.card-listing .type-browsers:hover h3 {
  background-color: rgba(253,137,78,.8);
}

.card-listing .type-browsers h3:before {
  content: "Browsers";
}

.card-listing .type-discussion h3 {
  background-color: rgba(155,131,209,.3);
}

.card-listing .type-discussion:hover h3 {
  background-color: rgba(155,131,209,.8);
}

.card-listing .type-discussion h3:before {
  content: "Discuss";
}

.card-listing .type-example h3 {
  background-color: rgba(249,175,70,.3);
}

.card-listing .type-example:hover h3 {
  background-color: rgba(249,175,70,.8);
}

.card-listing .type-example h3:before {
  content: "Code";
}

.card-listing h3 a:link,
.card-listing h3 a:visited {
  color: #000;
  text-decoration: none;
  font-weight: normal;
  display: block;
  margin: 0;
}

.card-listing .details {
  padding: .8rem 1rem 0.2rem 1rem;
}

@media screen and (min-width: 800px) {

@supports (grid-gap: 10px) {
    .card-listing {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-gap: 2rem;
    }

    .card-listing li {
      margin: 0;
    }

  }

}

.imagegrid {
  margin: 0;
  padding: 0;
  list-style: none;
}

.imagegrid img{
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

  @media screen and (min-width: 600px) {
  .imagegrid li {
    float: left;
    max-width: 49%;
    padding: 10px;
  }


  .patterncontent {
    clear: both;
  }

  @supports (grid-gap: 10px) {
    .imagegrid {
      display: grid;
      grid-template-columns: 2fr 3fr;
      grid-gap: 10px;
    }
    .imagegrid li {
      float: none;
      max-width: 100%;
      padding: 0;
    }

    .imagegrid li:first-child {
      grid-row: 1 / 3;
    }
  }

}

.examples-listing,
.video-list,
.blog-list,
.blog-list-home {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.video-list li,
.blog-list li
.blog-list-home li  {
  border-bottom: 1px solid rgba(0,0,0, 0.2);
  margin: 0;
  padding: 0;
}

.video-list p,
.video-list h3 {
  margin:0;
  padding:0
}

.video-list li a {
  display: block;
  text-decoration: none;
  margin: 0;
  padding: 1rem 0;
}

.video-list li a:hover {
  background-color: rgba(0,0,0,0.05);
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box h4 {
  margin-top: 0;
}

.follow {
  position: absolute;
  top: 20px;
  right: 20px;
}

