

<div class="examples-listing">
  
  <h3>Get Started with Grid</h3>
  <ul>
    <li><h4>A simple grid</h4>
      <a href="/examples/example1"><img src="/examples/images/example1.png" alt="a simple grid"></a>
      <p>The simplest example. Create a three column grid. Grid Layout will auto place items one in each cell.</p>
      <p><a href="/examples/example1">View example 1</a></p>
    </li>
    <li><h4>Defining Grid Areas</h4>
      <a href="/examples/example11"><img src="/examples/images/example11.png" alt="Grid Areas"></a>
      <p>Using grid-template-areas to lay out our elements on the grid.</p>
      <p><a href="/examples/example11">View example 2</a></p>
    </li>
    <li><h4>Layering Items on the Grid</h4>
      <a href="/examples/example15"><img src="/examples/images/example15.png" alt="Layering items"></a>
      <p>We can layer positioned items on our grids.</p>
      <p><a href="/examples/example15">View example 15</a></p>
    </li>
    <li><h4>Auto-flow examples</h4>
      <a href="/examples/example18"><img src="/examples/images/example18.png" alt="Layering items"></a>
      <p>Using auto-flow to fill grid columns.</p>
      <p><a href="/examples/example18">View example 18</a></p>
    </li>
  </ul>
</div>
