<footer class="footer"><div class="wrapper">

        
    
        <p>This is a project by Rachel Andrew. Take a look at some of the other things I make.</p>
        <ul>
            <li><A href="https://grabaperch.com">Perch CMS</a> - the original Really Little CMS. Designed for speed and simple implementation.</li>
            <li><A href="https://noti.st">Notist</a> - slide sharing and much more. Create your public speaking portfolio.</li> 
            <li><A href="https://thecssworkshop.com">The CSS Workshop</a> - learn CSS Layout with me</li> 
        </ul>

        <p class="thanks">This site is hosted on <a href="https://www.netlify.com/">Netlify</a>, thanks to their free hosting for open source projects.</p>

</div>
</footer>
