  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

      <link rel="preconnect" href="fonts.google.com" />
      <link rel="preconnect" href="platform.twitter.com" />
      <link rel="preconnect" href="track.gaug.es" />
      <link rel="preconnect" href="m.servedby-buysellads.com" />
      <link rel="preconnect" href="d36ee2fcip1434.cloudfront.net" />
      <link rel="dns-prefetch" href="fonts.google.com" />
      <link rel="dns-prefetch" href="platform.twitter.com" />
      <link rel="dns-prefetch" href="track.gaug.es" />
      <link rel="dns-prefetch" href="m.servedby-buysellads.com" />
      <link rel="dns-prefetch" href="d36ee2fcip1434.cloudfront.net" />

    {% include track.html %}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic" />
    <link rel="stylesheet" href="/css/common.css" />
    <script src="//platform.twitter.com/widgets.js" async defer></script>
    <script src="//m.servedby-buysellads.com/monetization.js" async defer></script>
<script>
(function(){
	if(typeof _bsa !== 'undefined' && _bsa) {
  		_bsa.init('stickybox', 'CKYI4KQJ', 'placement:gridbyexamplecom');
  	}
})();
</script>
  </head>
