 <!-- Sidebar -->
<div class="header">
  <div class="wrapper">

    <div class="about">
      <div class="follow"><a href="https://twitter.com/rachelandrew" class="twitter-follow-button" data-size="large" data-show-screen-name="true" data-show-count="true">Follow @rachelandrew</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
      <h1><a href="/">Grid by Example</a></h1>

      <p>A collection of usage examples for the CSS Grid Layout specification.</p>

    </div>



  </div>
</div>
<nav class="main">
  <ul class="nav">
    <li><a href="/what">What is Grid Layout?</a></li>
    <li><a href="/examples">Learn Grid Layout</a></li>
    <li><a href="/browsers">Browser Support</a></li>
    <li><a href="/resources">Resources</a></li>
    <li><a href="/posts">Blog</a></li>
  </ul>
</nav>
