 <!-- Sidebar -->
<div class="header">
  <div class="wrapper">

    <div class="about">
      <h1><a href="/">Grid by Example</a></h1>

      <p>A collection of usage examples for the CSS Grid Layout specification.</p>

    </div>



  </div>
</div>
<nav class="main">
  <ul class="nav">
    <li><a href="/what">What is Grid Layout?</a></li>
    <li><a href="/examples">Simple Examples</a></li>
    <li><a href="/examples/page-layout">Page layouts</a></li>
    <li><a href="/browsers">Browsers</a></li>
    <li><a href="/resources">More</a></li>
  </ul>
</nav>
