<!DOCTYPE html>
<html lang="en-GB">

  {% include head.html %}

    <body>

    {% include sidebar.html %}
    <div class="wrapper">
      

        <h1>{{ page.title }}</h1>


        <div class="content">
        {{ content }}

        <p>Read the <a href="{{ page.spec }}">specification</a> | <a href="/examples/code/{{ page.code }}">View example as full page</a></p>

     
      </div>
         {{ page.example-codepen-embed }}
    </div>
    <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
    {% include footer.html %} 
    {% include track.html %}
</body>

</html>
