<!DOCTYPE html>
<html lang="en-GB">

  {% include head.html %}

    <body>

    {% include sidebar.html %}
    {% include learn_nav.html %}
    <div class="wrapper">


        <h1>{{ page.title }}</h1>


        <div class="embed-container">


        {{ page.video-embed }}
      </div>

      {{ content }}

      <p><em>Many of these videos were produced prior to Grid landing in browsers. So there may be some references to when Grid ships or to browsers not supporting Grid yet. Grid is now available in Chrome, Firefox, Safari and Edge. Enjoy!</em></p>

      <div class="box">
        <h4>Become a CSS Layout expert!</h4>
        <p>I hope you like these tutorials. If this is a style of learning you enjoy then check out my <a href="https://thecssworkshop.com/?utm_source=gridbyexample&utm_content=video">CSS Layout Workshop</a>. Learn layout from the basics through to new and advanced features including flexbox, Grid, CSS Shapes and more.</p>
      </div>

      <div class="back">⇦ <a href="/video">Back to Video listing</a></div>
    </div>
    {% include footer.html %} 
</body>

</html>
