<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include sidebar.html %}
    {% include learn_nav.html %}
    <div class="wrapper">


        <h1>{{ page.title }}</h1>


        <div class="embed-container">


        {{ page.video-embed }}
      </div>

      {{ content }}

      <div class="box">
        <h4>Become a CSS Layout expert in 2017!</h4>
        <p>I hope you like these tutorials. If this is a style of learning you enjoy then check out my <a href="https://thecssworkshop.com/?utm_source=gridbyexample&utm_content=video">CSS Layout Workshop</a>. Learn layout from the basics through to new and advanced features including flexbox, Grid, CSS Shapes and more.</p>
      </div>

      <div class="back">⇦ <a href="/video">Back to Video listing</a></div>
    </div>
    {% include track.html %}
</body>

</html>
